<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eyes On The Cattle</title>
    <!-- base:css -->
    <link rel="stylesheet"
          href="../../static/adminResourses/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResourses/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResourses/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResourses/images/logo_1.png">
</head>
<body class="sidebar-light">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    {% include 'admin/header.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-body">
                                <img class="w-100" style="border-radius: 10px"
                                     src="../../static/adminResourses/images/index_image.png">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h2 class="card-title">Eyes On the Cattle</h2>
                                <p class="text-justify">
                                    In today’s fast-paced world, traffic
                                    congestion caused by unexpected Road
                                    obstacles can lead to
                                    significant delays and inconvenience for
                                    computers. To address this issue, we have
                                    developed a
                                    practice solution using computer vision and
                                    machine learning.
                                </p>
                                <p class="text-justify">
                                    Traffic congestion is a common problem on
                                    roads, often caused by unexpected obstacles
                                    such as
                                    wandering cattle. These situations not only
                                    disrupt traffic flow but also pose a danger
                                    to both drivers
                                    and the animals themselves. To mitigate
                                    these issues, we’ve designed a cattle
                                    detection system that
                                    identifies cattle on roads and alerts
                                    relevant authorities, allowing them to take
                                    immediate action. This
                                    system utilizes the power of YOLOv8 for
                                    real-time object detection and Ultralights
                                    for
                                    enhanced model handling.
                                </p>

                                <p class="text-justify">
                                    We've designed a cattle detection system
                                    that:
                                    1. Identifies Cattle: Using YOLOv8, an
                                    advanced object detection model, our system
                                    detects cattle
                                    on roads in real-time.
                                    2. Alerts Authorities: When cattle are
                                    detected within a designated area (defined
                                    by a polygon), the
                                    system sends alerts to relevant
                                    authorities.
                                    3. Prevents Jams: By proactively notifying
                                    authorities, we prevent potential traffic
                                    disruptions
                                    caused by cattle.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'admin/footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- base:js -->
<script src="../../static/adminResourses/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../static/adminResourses/js/off-canvas.js"></script>
<script src="../../static/adminResourses/js/hoverable-collapse.js"></script>
<script src="../../static/adminResourses/js/template.js"></script>
<script src="../../static/adminResourses/js/settings.js"></script>
<script src="../../static/adminResourses/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResourses/js/progressbar.min.js"></script>
<script src="../../static/adminResourses/js/jquery.flot.js"></script>
<script src="../../static/adminResourses/js/jquery.flot.resize.js"></script>
<script src="../../static/adminResourses/js/Chart.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResourses/js/chart.flot.sampledata.js"></script>
<script src="../../static/adminResourses/js/dashboard.sampledata.js"></script>
<script src="../../static/adminResourses/js/patternomaly.js"></script>
<script src="../../static/adminResourses/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>

